{name, "riak_core"}.
{authors, ["Andy Gross <andy@basho.com>"]}.
{description, "Distributed systems infrastructure used by Riak"}.
{homepage, "https://github.com/basho/riak_core"}.
{rebar_compatible, true}.
{license, "Apache License 2.0"}.
{url, {git, "https://github.com/basho/riak_core.git", {branch, "master"}}}.
